/* game.css */

.game_tbl {
    top: 40vh;
    left: 40vw;
    position: absolute;
    transform: translate(-50%, -50%);
}

.BlockBtn {
    height: 2.5vw;
    width: 2.5vw;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    border-radius: 0.5vw;
    background: linear-gradient(120deg, #ff0000 0%, #ff8000 100%);
}

.BlockBtn:disabled {
    background: linear-gradient(120deg, #ff8000 0%, #ff0000 100%);
    opacity: 1;
}

h1, p {
    font-size: 10px;
}

#warningMessage {
    font-size: 1vw;
    color: red;
    display: none;
}

#waitingText {
    font-size: 40px;
    color: #825cad;
}

#game {
    display: none;
}

#abandonBtn {
    position: fixed;
    bottom: 100px;
    right: 100px;
    background-color: #825cad;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #000000;
}

#abandonBtn:hover {
    color: white;
}