{% extends "blog/base.html" %}
{% block content %}
    <div class="container mt-4">
        {% if games %}
            <h2>Parties disponibles</h2>
            <ul class="list-group">
                {% for game in games %}
                    <li class="list-group-item">
                        {{ game.title }} - {{ game.game_author.username }}
                        <a href="{% url 'join-game' game_id=game.id %}" class="btn btn-primary btn-sm">Rejoindre</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h2>AUCUNE PARTIE EN COURS</h2>
        {% endif %}
    </div>
{% endblock %}
