{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-4">
        <h1>Rejoindre la partie</h1>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <input type="hidden" name="game_id" value="{{ game_id }}">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Rejoindre</button>
            </div>
        </form>
    </div>
{% endblock %}
