{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/game.css' %}">


    <div id="warningMessage">
        <p>EXPAND THE WINDOW TO VIEW THE GAME GRID</p>
    </div>

    <div id="waitingRoom">
        <h1 id="waitingText">WAITING FOR ANOTHER PLAYER</h1>
    </div>

    <div id="game">
        <h1 style="font-size: 20px">Name : {{ object.title }}</h1>
        <p>Grid size: {{ object.grid_size }}</p>
        <p>Align to win: {{ object.win_size }}</p>
        <p>Room code: {{ object.room_code }}</p>
        <p>Player 1: {{ object.game_author }}</p>
        <p id="player2">Player 2: None</p>
        <p id="currentTurn">Player Turn: </p>

        <table class="game_tbl">
            {% for row in "x"|ljust:object.grid_size %}
                <tr>
                    {% for col in "x"|ljust:object.grid_size %}
                        <td>
                            <button class="BlockBtn" id="BlockBtn{{ forloop.parentloop.counter }}_{{ forloop.counter }}"
                                    data-symbol=" "
                                    onclick="btnClk('{{ forloop.parentloop.counter }}', '{{ forloop.counter }}')"></button>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <button id="abandonBtn" onclick="abandonGame('{{ request.user.username }}')">Abandonner</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        var grid_size = {{object.grid_size}};
        var win_size = {{object.win_size}};
        var gameFinished = false;
        var gameId = '{{object.id}}';


        function btnClk(row, col) {

            console.log('currentUser ' + getUserTurn())
            if (gameFinished || '{{ request.user }}' !== getUserTurn()) {
                console.log("Conditions not met. Returning...");
                return;
            }

            let currentSymbol = getSymbol();
            console.log("adjsioaqdjqsd AAAAAAAAA " + currentSymbol);

            $.ajax({
                url: '/store_cell/',
                type: 'POST',
                data: {
                    'game_id': '{{ object.id }}',
                    'row': row,
                    'col': col,
                    'symbol': currentSymbol,
                },
                success: function (data) {
                    console.log('Cell stored successfully:', data);
                },
                error: function (error) {
                    console.error('Error storing cell:', error);
                }
            });

            switchTurn();
        }

        function getUserTurn() {
            var user;
            $.ajax({
                url: '/get_user/{{ object.id }}/',
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data) {
                    user = data.currentUser;
                    console.log('LE USER EST ' + user);
                },
                error: function (error) {
                    console.error('Error getting UserTurn:', error);
                    user = ' ';
                }
            });

            return user;
        }

        function getSymbol() {
            var symbol;
            $.ajax({
                url: '/get_symbol/{{ object.id }}/',
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data) {
                    symbol = data.currentSymbol;
                    console.log('Le symBOLE EST  ' + symbol);
                },
                error: function (error) {
                    console.error('Error getting symbol:', error);
                    symbol = '';
                }
            });

            return symbol;
        }


        function switchTurn() {
            $.ajax({
                url: '/switch_turn/{{ object.id }}/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log('Turn switched successfully:', data);
                    /*currentSymbol = data.currentSymbol;
                    console.log(currentSymbol);*/
                },
                error: function (error) {
                    console.error('Error switching turn:', error);
                }
            });

        }

        function checkWinner(row, col, symbol) {
            var horizontalCount = 0;
            var verticalCount = 0;
            var diagonalCount1 = 0;
            var diagonalCount2 = 0;
            var button;

            // Fonction pour afficher l'alerte et terminer la partie
            function showWinnerAlert(winningSymbol) {
                $(document).ready(function () {
                    finishGame(winningSymbol);
                });
            }

            // Vérifier horizontalement
            for (var i = 1; i <= grid_size; i++) {
                button = $("#BlockBtn" + row + "_" + i);
                if (button.attr("data-symbol") === symbol) {
                    horizontalCount++;
                } else {
                    horizontalCount = 0;
                }

                if (horizontalCount === win_size) {
                    showWinnerAlert(symbol);
                    return;
                }
            }

            // Vérifier verticalement
            for (var j = 1; j <= grid_size; j++) {
                button = $("#BlockBtn" + j + "_" + col);
                if (button.attr("data-symbol") === symbol) {
                    verticalCount++;
                } else {
                    verticalCount = 0;
                }

                if (verticalCount === win_size) {
                    showWinnerAlert(symbol);
                    return;
                }
            }

            // Vérifier diagonalement (de gauche à droite)
            for (var k = -win_size + 1; k < win_size; k++) {
                button = $("#BlockBtn" + (parseInt(row) + k) + "_" + (parseInt(col) + k));
                if (button.length && button.attr("data-symbol") === symbol) {
                    diagonalCount1++;
                } else {
                    diagonalCount1 = 0;
                }

                if (diagonalCount1 === win_size) {
                    showWinnerAlert(symbol);
                    return;
                }
            }

            // Vérifier diagonalement (de droite à gauche)
            for (var l = -win_size + 1; l < win_size; l++) {
                button = $("#BlockBtn" + (parseInt(row) - l) + "_" + (parseInt(col) + l));
                if (button.length && button.attr("data-symbol") === symbol) {
                    diagonalCount2++;
                } else {
                    diagonalCount2 = 0;
                }

                if (diagonalCount2 === win_size) {
                    showWinnerAlert(symbol);
                    return;
                }
            }

            if (isBoardFull()) {
                alert("La partie est terminée. Match nul!");
                $(document).ready(function () {
                    finishGame();
                });
            }

        }

        function getWinnerMessage(symbol) {

            var winnerUsername = (symbol === '{{ object.game_author.profile.symbol }}') ? '{{ object.game_author.username }}' : '{{ object.game_player2.username }}';
            return winnerUsername + " a gagné!";
        }

        function isBoardFull() {

            for (var i = 1; i <= grid_size; i++) {
                for (var j = 1; j <= grid_size; j++) {
                    var button = $("#BlockBtn" + i + "_" + j);
                    if (button.attr("data-symbol") === " ") {
                        return false;
                    }
                }
            }
            return true;
        }


        function checkWindowSize() {
            var gameTable = $(".game_tbl");
            var warningMessage = $("#warningMessage");

            var minWindowWidth = 600;
            var minWindowHeight = 450;

            if (window.innerWidth < minWindowWidth || window.innerHeight < minWindowHeight) {
                gameTable.css("display", "none");
                warningMessage.css("display", "block");
            } else {
                gameTable.css("display", "table");
                warningMessage.css("display", "none");
            }
        }

        function finishGame(winningSymbol) {
            if (!gameFinished) {
                gameFinished = true;
                $.ajax({
                    url: '/update_game_status/{{ object.id }}/',
                    type: 'GET',
                    dataType: 'json',
                    data: {winningSymbol: winningSymbol},
                    success: function (data) {
                        console.log('Success:', data);
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
                alert(getWinnerMessage(winningSymbol));
            }
        }

        function updateGrid() {

            $.ajax({
                url: '/get_grid_cells/' + gameId + '/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    updateGridDisplay(data.grid_cells);
                },
                error: function (error) {
                    console.error('Error fetching grid cells:', error);
                }
            });
        }

        function updateGridDisplay(gridCells) {
            gridCells.forEach(function (cell) {
                if (cell && cell.row !== undefined && cell.col !== undefined && cell.symbol !== undefined) {
                    var row = cell.row;
                    var col = cell.col;
                    var symbol = cell.symbol;

                    var button = $("#BlockBtn" + row + "_" + col);
                    button.html(symbol);
                    button.prop("disabled", true);
                    button.attr("data-symbol", symbol);
                }
            });
            var lastMove = gridCells[gridCells.length - 1];
            if (lastMove && lastMove.row !== undefined && lastMove.col !== undefined && lastMove.symbol !== undefined) {
                checkWinner(lastMove.row, lastMove.col, lastMove.symbol);
            }
        }


        function abandonGame(currentPlayer) {
            if (!gameFinished) {

                if (confirm("Êtes-vous sûr de vouloir abandonner la partie?")) {

                    console.log("currentPlayer " + currentPlayer)
                    if (currentPlayer == '{{ object.game_author.username }}') {
                        var winningSymbol = '{{ object.game_player2.profile.symbol }}';
                    } else {
                        var winningSymbol = '{{ object.game_author.profile.symbol }}';
                    }

                    console.log("winningSymbol " + winningSymbol);

                    finishGame(winningSymbol);
                }
            }
        }


        function updateDatasPlayer2() {
            if ($("#player2").text() === "Player 2: None") {
                $.ajax({
                    url: '/updateDatasPlayer2/' + gameId + '/',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $("#player2").text("Player 2: " + data.player2);

                        // Show the game table and hide the waiting room when there are two players
                        if (data.player2 !== "None") {
                            $("#game").show();
                            $("#waitingRoom").hide();
                        } else {
                            $("#game").hide();
                            $("#waitingRoom").show();
                        }
                    },
                    error: function (error) {
                        console.error('Error fetching player2:', error);
                    }
                });
            }
        }

        function checkGameStatus() {
            if (!gameFinished) {
                $.ajax({
                    url: '/check_game_status/{{ object.id }}/',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (data.gameFinished === true) {
                            gameFinished = true;
                            alert("La partie est terminée. Le gagnant est : " + getWinnerMessage(data.winningSymbol));
                        }
                    },
                    error: function (error) {
                        console.error('Error checking game status:', error);
                    }
                });
            }
        }

        function updateCurrentTurn() {

            $.ajax({
                url: '/update_current_turn/{{ object.id }}/',  // Make sure this URL is correct
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $("#currentTurn").text("Player Turn: " + data.currentTurn);
                },
                error: function (error) {
                    console.error('Error fetching current turn:', error);
                }
            });

        }

        $(document).ready(function () {
            setInterval(updateGrid, 200);
            setInterval(updateDatasPlayer2, 1000);
            setInterval(checkGameStatus, 200);
            setInterval(updateCurrentTurn, 200);

            checkWindowSize();
            $(window).resize(checkWindowSize);

        });
    </script>

{% endblock %}
