{% extends "blog/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Historique</h2>

    <canvas id="gamesChart" width="400" height="200"></canvas>

    <h2>Custom Stats</h2>

    <form id="custom-stats-form">

        <label for="grid-size">Grid Size:</label>
        <input type="number" id="grid-size" name="grid_size" min="3" max="12" value="3">

        <label for="win-size">Win Size:</label>
        <input type="number" id="win-size" name="win_size" min="3" max="12" value="3">


        <button type="button" onclick="getCustomStats()">Get Stats</button>
    </form>

    <div id="custom-stats-results"></div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Récupérer les données nécessaires depuis votre backend
            fetch('{% url "get_game_statistics" %}')
                .then(response => response.json())
                .then(gameData => {
                    const dates = gameData.dates;
                    const gamesPlayed = gameData.games_played;

                    // Créer le contexte du graphique
                    const ctx = document.getElementById('gamesChart').getContext('2d');

                    // Configurer le graphique à barres avec l'adaptateur de date
                    const gamesChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: dates,
                            datasets: [{
                                label: 'Parties jouées',
                                data: gamesPlayed,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                x: [{
                                    type: 'time',
                                    time: {
                                        unit: 'day'
                                    },
                                    title: {
                                        display: true,
                                        text: 'Date'
                                    }
                                }],
                                y: {
                                    beginAtZero: true,
                                    title: {
                                        display: true,
                                        text: 'Parties jouées'
                                    }
                                }
                            }
                        }
                    });
                });


        });

        function getCustomStats() {
            const winSize = $('#win-size').val();
            const gridSize = $('#grid-size').val();

            // Fetch data from the custom-stats view
            fetch(`/custom-stats/?win_size=${winSize}&grid_size=${gridSize}`)
                .then(response => response.json())
                .then(data => {
                    // Display the results in the custom-stats-results div
                    const resultsDiv = $('#custom-stats-results');
                    resultsDiv.empty();

                    if (data.success) {
                        for (const [user, score] of Object.entries(data.user_scores)) {
                            resultsDiv.append(`<p>${user}: ${score} wins</p>`);
                        }
                    } else {
                        resultsDiv.append(`<p>Error: ${data.error}</p>`);
                    }
                });
        }
    </script>

{% endblock content %}

